<!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
<p>Made with <i class="fas fa-heart fa-xs"></i> in India</p>      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
