<%- include('partials/header') %>
<div class="container text-center about mt-5">
<!-- <h1 class="mx-auto text-center pb-2">Tech Radar Enterprise</h1> -->

<h4>Made By Atif </h4>
<h6 class="mb-5"><h5 class="p-0 m-0">>I am working hard continuously to provide you best experience.</h5>
<h5 class="p-0 m-0">If you have any problem feel free to mail me on : <h4 class="mt-5 pt-5 text-dark email-1">coderatif@gmail.com</h4> </h5>
</div>

<%- include('partials/footer') %>
