<%- include('partials/header') %>
<div class="container text-center about mt-5">
<h1 class="mx-auto text-center pb-2">Tech Radar Enterprise</h1>

<h4>Made By Tech Radar Team</h4>
<h6 class="mb-5"><h5 class="p-0 m-0">>We are working hard continuously to provide you best experience.</h5>
<h5 class="p-0 m-0">If you have any problem feel free to mailus on : <h4 class="mt-0 pt-0 text-dark email-1">Techradar@gmail.com</h4> </h5>
</div>

<%- include('partials/footer') %>
